@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-fraunces: "Fraunces", serif;
  --color-link: #a3a3a3;
  --color-link-active: #171717;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

.fraunces,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-fraunces);
}

.inter {
  font-family: var(--font-inter);
}

code {
  background: var(--color-neutral-200);
}

pre code {
  background: unset;
}

ul {
  margin-left: 20px;
  list-style: disc;
}

ol {
  margin-left: 20px;
  list-style-type: decimal;
}

ol li,
ul li {
  margin-bottom: 8px;
}

ol li:first-child,
ul li:first-child {
  margin-top: 8px;
}

i {
  margin-top: 4px;
}

a.styled-link {
  text-underline-offset: 2px;
  text-decoration: underline dotted var(--color-emerald-500);
}

a.styled-link:hover {
  text-decoration: underline wavy var(--color-emerald-500);
}

b {
  font-weight: 600;
}

pre {
  padding: 24px 16px;
  overflow: scroll;
  border-radius: 8px;
}
